body {
    background-color: #000000;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    line-height: 44px;
    font-family: sans-serif;
}

.chat_box {
    color: 5e5e5e
}